<td scope="col">{{rank}}</td>
<td scope="col"><span class={{currentClass}}></span>{{name}}</td>
<td scope="col">{{symbol}}</td>
<td scope="col">{{format-currency price_usd}}</td>
<td scope="col"><span class="btc-symbol"></span>{{price_btc}}</td>
<td scope="col"><span class={{percent1hChangeIndicator}}>{{percent_change_1h}}%</span></td>
<td scope="col"><span class={{percent24hChangeIndicator}}>{{percent_change_24h}}%</span></td>
<td scope="col"><span class={{percent7dChangeIndicator}}>{{percent_change_7d}}%</span></td>
{{!-- <td scope="col">{{last_updated}}</td>
<td scope="col">{{24h_volume_usd}}</td>
<td scope="col">{{market_cap_usd}}</td>
<td scope="col">{{available_supply}}</td>
<td scope="col">{{total_supply}}</td> --}}
